body {
  background-image: linear-gradient(#c4a287, #ab4e68, #533745);
}

nav {
  background-color: #533745;
}

footer {
  background-color: #533745;
  min-height: 200px;
}

.svgnav {
  margin-top: -26px;
}

.svgfoot {
  margin-bottom: -20px;
}
.copyright {
  background-color: #533745;
}
