body {
  background-image: linear-gradient(#c4a287, #ab4e68, #533745);
}

nav {
  background-color: #533745;
}

footer {
  background-color: #533745;
  min-height: 200px;
}

.svgnav {
  margin-top: -26px;
}

.svgfoot {
  margin-bottom: -20px;
  margin-top: -140px;
}
.copyright {
  background-color: #533745;
}

.svgtop {
  margin-top: -27px;
}

.svgbot {
  margin-top: -10px;
  margin-bottom: -150px;
}

.hover1 {
  img {
    -webkit-filter: grayscale(0) blur(0);
    filter: grayscale(0) blur(0);
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }
  img:hover {
    -webkit-filter: grayscale(70%) blur(2px);
    filter: grayscale(70%) blur(2px);
  }
  .card-title:hover {
    color: gray;
  }
}

.hover2 {
  img {
    opacity: 1;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  img:hover {
    opacity: 0.5;
  }
}

.d {
  max-width: 550px;
}
