body {
  min-height: 150vh;
  background-image: linear-gradient(
    rgb(255, 255, 255),
    rgb(231, 180, 227),
    purple
  );
}

nav {
  background-color: purple;
}

footer {
  background-color: purple;
}
